<!DOCTYPE html>
<html>

    <head>
        <title>pageLoader Angular.js ToDo List expample page</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    </head>

    <body>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./index.html">pageLoader</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="./index.html">Home</a>
                        <li class=""><a href="./jquery.html">jQuery UI</a>
                        <li class="active" ><a href="./angular.html">Angular</a> </li>
                        <li class="" ><a href="./backbone.html">Backbone</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        
        <div class="container" >
            <h1>pageLoader Angular.js ToDo List expample page</h1>

            <div id="angular" ng-controller="TodoCtrl">
                
                	<section class="app-body">
                		<section class="archive-control">
                			<span>{{ remaining() }} of {{ todos.length }} remaining</span>
                			<p>[ <a href="" data-ng-click="archive()">Remove Completed Items</a> ]</p>
                		</section>

                		<ul class="unstyled angular">
                			<li class="angular" data-ng-repeat="todo in todos track by $index">
                				<input type="checkbox" data-ng-model="todo.done">
                				<span class="done-{{ todo.done }}">{{ todo.text }}</span>
                			</li>
                		</ul>

                		<form data-ng-submit="addTodo()" class="todo-form">
                			<input type="text" data-ng-model="todoText" placeholder="Enter new ToDo item" class="angular"/>
                			<br />
                			<input type="submit" value="Add Task" class="angular"/>
                		</form>
                    </section>
                
            </div>
        </div>


        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="../dist/pageLoader.js" data-config="./js/config.js"></script>

        
    </body>
</html>
