<!DOCTYPE html>
<html>

    <head>
        <title>pageLoader BackboneJS expample page</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    </head>

    <body>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="./index.html">pageLoader</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="./index.html">Home</a>
                        <li class=""><a href="./jquery.html">jQuery UI</a>
                        <li class="" ><a href="./angular.html">Angular</a> </li>
                        <li class="active" ><a href="./backbone.html">Backbone</a> </li>
                        <li class="" ><a href="./knockout.html">Knockout</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        
        <link rel="stylesheet" href="http://raw.githubusercontent.com/jeromegn/Backbone.localStorage/master/examples/todos/todos.css"/>

        <div class="container" >
            <h1 class="text-center">pageLoader BackboneJS expample page</h1>

            
            <div id="todoapp">

                <header>
                    <input id="new-todo" type="text" placeholder="What needs to be done?">
                </header>

                <section id="main">
                    <input id="toggle-all" type="checkbox">
                    <label for="toggle-all">Mark all as complete</label>
                    <ul id="todo-list"></ul>
                </section>

                <footer>
                    <a id="clear-completed">Clear completed</a>
                    <div id="todo-count"></div>
                </footer>

            </div>

            <div id="instructions"> Double-click to edit a todo. </div>

            <!-- Templates -->
            <script type="text/template" id="item-template">
                <div class="view">
                    <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
                    <label><%- title %></label>
                    <a class="destroy"></a>
                </div>

                <input class="edit" type="text" value="<%- title %>" />
            </script>

            <script type="text/template" id="stats-template">
                <% if (done) { %>
                    <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
                <% } %>

                <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
            </script>
            
        </div>


        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="../dist/pageLoader.js" data-config="./js/config.js"></script>

        
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js" defer></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js" defer></script>

    </body>
</html>
